.btn {
    color: rgb(157, 199, 19);
    background: rgb(50, 62, 226); 
    margin-left: 30px;
    border-bottom: 3px;
    border-color: black;
  };

li {
  padding: auto;
  margin-top: 15px;
};

h1 {
  text-align: center;
}